@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .flex::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Edge */
  }
